.DS_Store
.cursor/plans/qdhub_迭代开发计划_5bd94df0.plan.md
.cursor
qdhub/coverage.out
*.out
qdhub/coverage_all.out
qdhub/coverage_all.out
*/bin/*
*/*.db-shm
*/*.db-wal
qdhub/data/*
qdhub/tests/e2e/data/*
qdhub/tests/data/*
qdhub/tests/e2e/tests/data/e2e_app.db
qdhub/tests/e2e/tests/data/e2e_app.db-shm

qdhub/tests/e2e/tests/data/*
qdhub/e2e.test
qdhub/integration.test
qdhub/data/qdhub.db
qdhub/data/qdhub.db-shm
qdhub/tests/e2e/logs/test_ggt_top10_20260122_160210.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_160408.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_160505.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_162106.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_162223.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_162423.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_162531.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_162620.log
qdhub/tests/e2e/logs/test_ggt_top10_20260122_162955.log
qdhub/data/qdhub.db
qdhub/data/qdhub.db-shm
qdhub/logs/qdhub.log
qdhub/*.test
qdhub/logs/e2e_server.log
qdhub/logs/qdhub.log
qdhub/data/qdhub.db-shm
qdhub/data/qdhub.db-wal
